<header>
  <div id="idtituloContainer">
    <img src="./../assets/img/descarga.png" alt="" />
    <h1>Pokédex</h1>
    <img src="./../assets/img/descarga.png" alt="" />
  </div>
  <div id="redSocial">
    <a href="https://www.facebook.com/" class="face" target="_blank">
      <i class="fa-brands fa-square-facebook"></i
    ></a>
    <a href="https://twitter.com/" class="twi" target="_blank">
      <i class="fa-brands fa-square-twitter"></i
    ></a>
    <a href="https://www.instagram.com/" class="ins" target="_blank">
      <i class="fa-brands fa-square-instagram"></i
    ></a>
    <a href="https://www.linkedin.com/" class="lin" target="_blank"
      ><i class="fa-brands fa-linkedin"></i
    ></a>
  </div>
</header>

<router-outlet></router-outlet>

<footer>
  <p><kbd>DHCS</kbd> David Hilarion Condori Sullcani</p>
  <p><kbd>UAB</kbd> Universidad Adventista de Bolivia - Cochabamba</p>
</footer>
